@mixin text-bar($color,$beforeCor) {
    &:before,&:after {
        content: "";
        top: 0;
        bottom: 0;
        display: inline-block;
        position: absolute;
    }
    &:before {
        //background: #00C691;
        background: $beforeCor;
        width: 100%;
    }
    &:after {
        background: $color;
    }
}

@mixin animateType($transtionTime,$animationTime,$delay) {
    &:before {
        right: 0;
        width: 0;
        -webkit-transition: width $transtionTime ease-in-out;
        transition: width $transtionTime ease-in-out;
        transition-delay: $delay;
        z-index: 1;
    }
    &:after {
        -webkit-animation: typo01-after $animationTime ease-in-out;
        animation-delay: $delay;
    }
}
.news-content {
  margin-top: 240px;
  .newslistWrap {
    padding: 0 9.1458vw;
    .news-list {
      width: 100%;
      margin: 0 auto;
        overflow: hidden;
      > .item {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 33%;

        a {
          display:block;
          width: 100%;
          height: 100%;
          padding: 2.91665vw;
          box-sizing: border-box;
          .news-img {
            position: relative;
            display: inline-block;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background: #3085a3;
            @include text-bar(#00D1DB, #00D1DB);
            img {
              width: 100%;
              height: auto;
              position: relative;
              display: block;
              -webkit-transition: opacity .5s, -webkit-transform .5s;
              transition: opacity .5s, transform .5s;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
            }
            &:hover img {
              opacity: 0.4;
              -webkit-transform: scale3d(1.1,1.1,1);
              transform: scale3d(1.1,1.1,1);
            }
          }
          .news-tit {
            font-size: 1.5625vw;
            margin-top: 1.5625vw;
          }
          .new-desc {
            display: block;
            font-size: 1.0417vw;
            padding-top: 1.0417vw;
          }
        }
		&.colorOne {
		  .news-img {
              @include text-bar(#00D1DB, #00D1DB);
		  }
		}
		&.colorTwo {
		  .news-img {
		      @include text-bar(#FF9B36, #FF9B36);
		  }
		}
		&.colorThree{
		  .news-img {
		      @include text-bar(#2E3BEE, #2E3BEE);
		  }
		}
		&.colorFour {
		  .news-img  {
              @include text-bar(#1BD9A5, #1BD9A5);
		  }
		}
        &.aos-animate .news-img {
            @include animateType(1.1s, 1s, 0.5s);
		}
      }
    }
  }
  .main-contact {
    margin-top: 13.5417vw;
  }
  .btnMore {
    text-align: center;
  }
}
